<div class="container-fluid">
  <div class="row ai-index-title-row">
    <h2>商品一覧</h2>
    <%= link_to "+", new_admin_item_path, class:"ml-auto ai-index-add-button" %>
  </div>
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <table class="table mx-auto">
        <thead>
          <tr class="table-secondary">
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name, admin_item_path(item.id) %></td>
              <td><%= "#{item.price.to_s(:delimited)}" %></td>
              <td><%= "#{Genre.find(item.genre_id).name}" %></td>
              <td>
                <% if item.is_active %>
                  <label class="ai-index-is-active-true">販売中</label>
                <% else %>
                  <label class="ai-index-is-active-false">売切れ</label>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= paginate @items %>
    </div>
  </div>
</div>