<div class="container">
  <div class="row">
    <h2>商品詳細</h2>
    <div class="col-lg-3">
      <%= attachment_image_tag @item, :image, :fill, 40, 40, fallback: 'no_image.png', size: '40x40' %>
    </div>
    <div class="col-lg-7">
      <table class="table table-striped">
        <tr>
          <td>商品名</td>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <td>商品説明</td>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td><%= "#{Genre.find(@item.genre_id).name}" %></td>
        </tr>
        <tr>
          <td>税込価格<br>(税抜価格)</td>
          <% tax = ((@item.price)*1.08).floor %>
          <td><%= "#{tax.to_s(:delimited)}(#{(@item.price).to_s(:delimited)})円" %></td>
        </tr>
        <tr>
          <td>販売ステータス</td>
          <td>
            <% if @item.is_active %>
              <label>販売中</label>
            <% else %>
              <label>売切れ</label>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <%= link_to '編集する', edit_admin_item_path(params[:id]) %>
  </div>
</div>