<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <section>
        <p>
          ようこそ、ながのCAKEへ!<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
      </section>
    <div>
  </div>
  <div class="row">
    <div class="col-lg-10">
      <h2>新着商品</h2>
      <div>
        <% @items.each do |item| %>
          <%= link_to item_path(item.id) do %>
            <div class="card mx-auto shadow-sm">
              <div class="card-body">
                <%= attachment_image_tag item, :image, class:"card-img-top" %>
                <p class="card-text">
                  <%= item.name %><br>
                  <%= "#{number_to_currency(item.price*1.08, unit: "¥", precision: 0)}" %>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <%= link_to '全ての項目を見る>', items_path %>
  </div>
</div>