<div class="container-fluid ac-show-container">
  <div class="row">
    <h2><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h2>
  </div>
  <div class="row">
    <div class="col-lg-7 ml-5 pl-5">
      <table class="table table-borderless">
        <tr>
          <td class="col-lg-4">会員ID</td>
          <td class="col-lg-8"><%= @customer.id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @customer.last_name %> <%= @customer.first_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <td>
            <% if @customer.is_active %>
              <label class="ac-show-is-active-true">有効</label>
            <% else %>
              <label class="ac-show-is-active-false">退会</label>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row ml-5 mb-3 pl-5">
    <div class="col-lg-7 ml-5">
      <div class="row ml-5">
        <%= link_to '編集する', edit_admin_customer_path(customer_id: @customer.id), class:"btn btn-success col-lg-2" %>
        <label class="col-lg-2"></label>
        <%= link_to '注文履歴一覧を見る', admin_path(customer_id: @customer.id), class:"btn btn-info col-lg-3" %>
      </div>
    </div>
  </div>
</div>