<div class="container-fluid">
  <div class="row">
    <h2>注文履歴詳細</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="form-group row">
        <label class="col-lg-3"><strong>購入者</strong></label>
        <% customer = Customer.find(@order.customer_id) %>
        <%= link_to admin_customer_path(customer.id), class:"col-lg-3" do %><%= customer.last_name %> <%= customer.first_name %><% end %>
      </div>
      <div class="form-group row">
        <label class="col-lg-3"><strong>注文日</strong></label>
        <label class="col-lg-3"><%= l @order.created_at, format: :short %></label>
      </div>
      <div class="form-group row">
        <label class="col-lg-3"><strong>配送先</strong></label>
        <label class="col-lg-3">
          <%= @order.address %><br>
          <%= @order.name %>
        </label>
      </div>
      <div class="form-group row">
        <label class="col-lg-3"><strong>支払い方法</strong></label>
        <% payment = nil %>
        <% if @order.credit? %>
          <% payment='クレジットカード' %>
        <% elsif @order.bank? %>
          <% payment='銀行振込' %>
        <% end %>
        <label class="col-lg-3"><%= payment %></label>
      </div>
      <%= form_with model: @order, url: "/admin/orders/#{@order.id}", local:true, class:"form-horizontal" do |f| %>
        <div class="form-group row">
          <label class="col-lg-3"><strong>注文ステータス</strong></label>
          <%= f.select :order_status, Order.enums_i18n(:order_status), {selected: @order.order_status_before_type_cast}, {class:"form-control col-lg-3 mx-3"} %>
          <%= f.submit '更新', class:"btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center align-items-end mt-5">
    <% total = 0 %>
    <div class="col-lg-6">
      <table class="table table-borderless">
        <thead>
          <tr class="table-secondary">
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_items.all.each do |order_item| %>
            <tr>
              <td><%= "#{Item.find(order_item.item_id).name}" %></td>
              <td><%= "#{(order_item.order_price*1.08).floor.to_s(:delimited)}"  %></td>
              <td><%= order_item.amount %></td>
              <% total += subtotal = (order_item.order_price * (order_item.amount) * 1.08).floor %>
              <td><%= subtotal %></td>
              <td>
                <%= form_with model: order_item, url: admin_order_item_path(order_item.id), local:true, class:"form-horizontal" do |f| %>
                  <div class="form-group row">
                    <%= f.select :making_status, OrderItem.enums_i18n(:making_status), {selected: order_item.making_status_before_type_cast}, {class:"form-control col-lg-7"} %>
                    <%= f.submit '更新', class:"btn btn-success col-lg-3 ml-4" %>
                  </div>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <table class="table table-borderless">
        <tr>
          <td><label>商品合計</label></td>
          <td><label><%= "#{total.to_s(:delimited)}" %>円</label></td>
        </tr>
        <tr>
          <td><label>送料</label></td>
          <td><label><%= "#{(@order.shipping_cost).to_s(:delimited)}" %>円</label></td>
        </tr>
        <tr>
          <td><label><strong>請求金額合計</strong></label></td>
          <td><label><strong><%= "#{(@order.billing_amount).to_s(:delimited)}" %>円</strong></label></td>
        </tr>
      </table>
    </div>
  </div>
</div>