<div class="container">
  <h2>注文履歴詳細</h2>
  <div class="row">
    <div class="col-lg-10">
      <table class="table table-striped">
        <tr>
          <td>購入者</td>
          <% customer = Customer.find(@order.customer_id) %>
          <td><%= link_to admin_customer_paths(customer.id) do %><%= customer.last_name %> <%= customer.first_name %></td>
        </tr>
        <tr>
          <td>注文日</td>
          <td><%= l @order.created_at, format: :short %></td>
        </tr>
        <tr>
          <td>配送先</td>
          <td>
            <%= @order.address %><br>
            <%= @order.name %>
          </td>
        </tr>
        <tr>
          <td>支払い方法</td>
          <% payment = nil %>
          <% if @order.credit? %>
            <% payment='クレジットカード' %>
          <% elsif @order.bank? %>
            <% payment='銀行振込' %>
          <% end %>
          <td><% payment %></td>
        </tr>
        <tr>
          <td>注文ステータス</td>
          <td>
            <%= form_with model: @order, url: "/admin/orders/#{@order.id}", local:true do |f| %>
              <%= f.select :order_status, Order.enums_i18n(:order_status), class:"form-control" %>
              <%= f.submit '更新', class:"form-control" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <% total = 0 %>
    <div class="col-lg-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_items.all.each do |order_item| %>
            <tr>
              <td><%= order_item.name %></td>
              <td><%= order_item.order_price %></td>
              <td><%= order_item.amount %></td>
              <% total += subtotal = order_item.order_price * order_item.amount * 1.08 %>
              <td><%= subtotal %></td>
              <td>
                <%= form_with model: order_item, url: admin_order_item_path(order_item.id), local:true do |f| %>
                  <%= f.select :making_status, OrderItem.enums_i18n(:making_status), class:"form-control" %>
                  <%= f.submit '更新', class:"form-control" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <table class="table table-striped">
        <tr>
          <td>商品合計</td>
          <td><%= total %>円</td>
        </tr>
        <tr>
          <td>送料</td>
          <td><%= @order.shipping_cost %>円</td>
        </tr>
        <tr>
          <td>請求金額合計</td>
          <td><%= @order.billing_amount %></td>
        </tr>
      </table>
    </div>
  </div>
</div>