<%#ある会員の購入履歴一覧のため、名前は一度表示するのみに変更しました。 %>

<div>
  <h2><%= customer.last_name %><%= customer.first_name %>さんの注文履歴一覧</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>購入日時</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% orders.each do |order| %>
        <tr>
          <% order_items = order.order_items.all %>
          <% amount = 0 %>
          <% order_items.each do |order_item| %>
            <% amount += order_item.amount %>
          <% end %>
          <td><%= link_to admin_order_path(order.id) do %><%= l order.created_at %><% end %></td>
          <td><%= amount %></td>
          <td><%= order.enum_i18n(:order) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>