<div class="container-fluid pa-index-container">
  <div class="row">
    <h2>配送先登録/一覧</h2>
    <div class="col-lg-10">

      <% if @address.errors.any? %>
        <%= render partial: 'admin/errors/error', locals: {model: @address} %>
      <% end %>

      <%= render partial: 'public/addresses/form', locals: {model: @address, url: '/addresses', submit: '新規登録'} %>
    </div>
  </div>
  <div class="row pa-index-table-row">
    <div class="col-lg-8">
      <table class="table table-bordered pa-index-table">
        <thead>
          <tr class="table-secondary">
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
            <tr>
              <td><%= address.postal_code %></td>
              <td><%= address.address %></td>
              <td><%= address.name %></td>
              <td><%= link_to '編集する', edit_address_path(address.id), class:"btn btn-success" %> <%= link_to '削除する', "/addresses/#{address.id}", method: :delete, class:"btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>