<div class="container-fluid search-container">
  <div class="row">
    <% total = 0 %>
    <% if @genres != nil %>
      <% total+= @genres.count %>
    <% end %>
    <% if @items != nil %>
      <% total+= @items.count %>
    <% end %>
    <% if @customers != nil %>
      <% total+= @customers.count %>
    <% end %>
    <h2>検索結果(<%= "#{total}" %>件)</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <% if @genres != nil && @genres.count != 0 %>
        <h3>ジャンル名一致</h3>
        <% @genres.each do |name, items| %>
          <label><%= name %></label>
          <table class="table mx-auto">
            <thead>
              <tr class="table-secondary">
                <th class="col-lg-4">商品名</th>
                <th class="col-lg-8">商品説明</th>
              </tr>
            </thead>
            <tbody>
              <% items.each do |item| %>
                <tr>
                  <td>
                    <% if !admin_signed_in? %>
                      <%= link_to item.name, item_path(item.id) %>
                    <% else %>
                      <%= link_to item.name, admin_item_path(item.id) %>
                    <% end %>
                    </td>
                  <td><%= item.introduction %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <% if @items != nil && @items.count != 0 %>
        <h3>商品名一致</h3>
        <table class="table mx-auto">
          <thead>
            <tr class="table-secondary">
              <th class="col-lg-4">商品名</th>
              <th class="col-lg-8">商品説明</th>
            </tr>
          </thead>
          <tbody>
            <% @items.each do |item| %>
              <tr>
                <td>
                  <% if !admin_signed_in? %>
                    <%= link_to item.name, item_path(item.id) %>
                  <% else %>
                    <%= link_to item.name, admin_item_path(item.id) %>
                  <% end %>
                </td>
                <td><%= item.introduction %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <% if admin_signed_in? && @customers != nil && @customers.count != 0%>
        <h3>会員名一致</h3>
        <table class="table mx-auto">
          <thead>
            <tr class="table-secondary">
              <th class="col-lg-4">会員名</th>
              <th class="col-lg-8">メールアドレス</th>
            </tr>
          </thead>
          <tbody>
            <% @customers.each do |customer| %>
              <tr>
                <td>
                  <%= link_to admin_customer_path(customer.id) do %>
                    <%= customer.last_name %><%= customer.first_name%><br>
                    <%= customer.last_name_kana %><%= customer.first_name_kana %>
                  <% end %>
                </td>
                <td><%= customer.email %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>