<div class="container-fluid">
  <div class="row">
    <h2>新規会員登録</h2>
  </div>
  <div class="row">
    <div class="col-lg-8 registrations-form-col">
      <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class:"new_customer form-horizontal", local:true do |f| %>
        <%#= render "public/shared/error_messages", resource: resource %>
        <div class="form-group row">
          <label class="col-lg-3">名前</label>
          <label class="col-lg-1">(姓)</label>
          <%= f.text_field :last_name, placeholder: '令和', class:"form-control registrations-form-control col-lg-3" %>
          <label class="col-lg-1">(名)</label>
          <%= f.text_field :first_name, placeholder: '道子', class:"form-control registrations-form-control col-lg-3" %>
        </div>
        <div class="form-group row">
          <label class="col-lg-3">フリガナ</label>
          <label class="col-lg-1">(セイ)</label>
          <%= f.text_field :last_name_kana, placeholder: 'レイワ', class:"form-control registrations-form-control col-lg-3" %>
          <label class="col-lg-1">(メイ)</label>
          <%= f.text_field :first_name_kana, placeholder: 'ミチコ', class:"form-control registrations-form-control col-lg-3" %>
        </div>
        <div class="form-group row">
          <label class="col-lg-4">メールアドレス</label>
          <%= f.email_field :email, placeholder: 'sample@example.com', class:"form-control registrations-form-control col-lg-3" %>
        </div>
        <div class="form-group row">
          <label class="col-lg-4">郵便番号(ハイフンなし)</label>
          <%= f.text_field :postal_code, placeholder: '0000000', class:"form-control registrations-form-control col-lg-3" %>
        </div>
        <div class="form-group row">
          <label class="col-lg-4">住所</label>
          <%= f.text_field :address, placeholder: '東京都渋谷区代々木神園町0-0', class:"form-control registrations-form-control col-lg-7" %>
        </div>
        <div class="form-group row">
          <label class="col-lg-4">電話番号(ハイフンなし)</label>
          <%= f.telephone_field :telephone_number, placeholder: '00000000000', class:"form-control registrations-form-control col-lg-3" %>
        </div>
        <div class="form-group row">
          <label class="col-lg-4">パスワード(6文字以上)</label>
          <%= f.password_field :password, class:"form-control registrations-form-control col-lg-3" %>
        </div>
        <div class="form-group row">
          <label class="col-lg-4">パスワード(確認用)</label>
          <%= f.password_field :password_confirmation, class:"form-control registrations-form-control col-lg-3" %></td>
        </div>
        <div class="form-group row">
          <div class="col-lg-4"></div>
          <%= f.submit '新規登録', class:"registrations-form-control btn btn-success col-lg-2" %>
        </div>
      <% end %>
    </div>
  </div>
  <%#= render "public/shared/links" %>
  <div class="row">
    <h2>既に登録済みの方</h2>
  </div>
  <div class="row">
    <p class="registrations-login-link">
      <%= link_to 'こちら', new_customer_session_path %>からログインしてください。
    </p>
  </div>
</div>
