<div class="container">
  <div class="row">
    <% total = 0 %>
    <h2>注文情報確認</h2>
    <div class="col-lg-6">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <% item = Item.find(cart_item.item_id) %>
              <td><%= attachment_image_tag item, :image, :fill, 40, 40, fallback: 'no_image.png', size: '40x40' %><%= item.name %></td>
              <% tax = ((item.price)*1.08).floor %>
              <td><%= "#{tax.to_s(:delimited)}" %></td>
              <td><%= cart_item.amount %></td>
              <td>
                <% total += tax*(cart_item.amount) %>
                <%= "#{(tax*(cart_item.amount)).floor.to_s(:delimited)}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <table class="table table-striped">
        <tr>
          <td>送料</td>
          <td><%= @order.shipping_cost %></td>
        </tr>
        <tr>
          <td>商品合計</td>
          <td><%= "#{total.to_s(:delimited)}" %></td>
        </tr>
        <tr>
          <td>請求金額</td>
          <% total += Public::OrdersController::SHIPPING_COST %>
          <td><%= "#{total.to_s(:delimited)}" %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped">
      <tr>
        <td>支払い方法</td>
        <% if @order.credit? %>
          <td>クレジットカード</td>
        <% elsif @order.bank? %>
          <td>銀行振込</td>
        <% end %>
      </tr>
      <tr>
        <td>お届け先</td>
        <td>
          <p>
            〒<%= @order.postal_code %> <%= @order.address %><br>
            <%= @order.name %>
          </p>
        </td>
      </tr>
    </table>
  </div>
  <div class="row">
    <%= form_with model: @order, url: '/orders', local: true, method: :post do |f| %>
      <%= f.hidden_field :postal_code %>
      <%= f.hidden_field :address %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :billing_amount %>
      <%= f.hidden_field :order_status %>
      <%= f.hidden_field :shipping_cost %>
      <%= f.hidden_field :payment %>
      <%= f.hidden_field :customer_id %>
      <%= f.submit '注文を確定する' %>
    <% end %>
  </div>
</div>