<div class="container-fluid">
  <div class="row">
    <h2>注文履歴一覧</h2>
    <div class="col-lg-11 mx-auto">
      <table class="table table-bordered po-index-table">
        <thead>
          <tr class="table-secondary">
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= l order.created_at, format: :short %></td>
              <td>
                〒<%= order.postal_code %><br>
                <%= order.address %><br>
                <%= order.name %>
              </td>
              <td>
                <% order_items = order.order_items.all %>
                <% length = order_items.count %>
                <% count = 0 %>
                <% order_items.each do |order_item| %>
                  <%= Item.find(order_item.item_id).name %>
                  <% if ++count < length %>
                    <br>
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= "#{number_to_currency(order.billing_amount, locale: 'ja')}" %>
              </td>
              <td><%= order.enum_i18n(:order_status) %></td>
              <td><%= link_to '表示する', order_path(order.id), class:"btn btn-info" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>