<div class="container-fluid po-show-container">
  <div class="row">
    <h2>注文履歴詳細</h2>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <label><strong>注文情報</strong></label>
      <table class="table table-bordered po-show-table">
        <tr>
          <td class="table-secondary">注文日</td>
          <td><%= l @order.created_at, format: :short %></td>
        </tr>
        <tr>
          <td class="table-secondary">配送先</td>
          <td>
            <%= @order.postal_code %><br>
            〒<%= @order.address %><br>
            <%= @order.name %>
          </td>
        </tr>
        <tr>
          <td class="table-secondary">支払方法</td>
          <td>
            <% if @order.credit? %>
              <label>クレジットカード</label>
            <% elsif @order.bank? %>
              <label>銀行振込</label>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="table-secondary">ステータス</td>
          <td><%= @order.enum_i18n(:order_status) %></td>
        </tr>
      </table>
    </div>
    <div class="col-lg-4">
      <label><strong>請求情報</strong></label>
      <table class="table table-bordered po-show-table">
        <tr>
          <td class="table-secondary">商品合計</td>
          <td><%= "#{(@order.billing_amount-@order.shipping_cost).to_s(:delimited)}" %></td>
        </tr>
        <tr>
          <td class="table-secondary">配送料</td>
          <td><%= "#{@order.shipping_cost.to_s(:delimited)}" %></td>
        </tr>
        <tr>
          <td class="table-secondary">ご請求額</td>
          <td><%= "#{@order.billing_amount.to_s(:delimited)}" %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <label><strong>注文内容</strong></label>
      <table class="table table-bordered po-show-table">
        <thead>
          <tr class="table-secondary">
            <th>商品</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_items.all.each do |order_item| %>
            <tr>
              <% item = Item.find(order_item.item_id) %>
              <td><%= item.name %></td>
              <% taxed = item.price*1.08.floor %>
              <td><%= "#{taxed.to_s(:delimited)}" %></td>
              <td><%= order_item.amount %></td>
              <td><%= "#{(taxed*order_item.amount).to_s(:delimited)}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>