<div class="container">
  <div class="row">

    <h2>ログイン</h2>
    <div class="col-lg-10">
      <div>
        <label>会員の方はこちらからログイン</label>
        <%= form_with model: @customer, url: customer_session_path, local:true do |f| %>
          <table class="table table-striped">
            <tr>
              <td>メールアドレス</td>
              <td><%= f.email_field :email, placeholder: 'sample@exapmle.com', class:"form-control" %></td>
            </tr>
            <tr>
              <td>パスワード</td>
              <td><%= f.password_field :password, class:"form-control" %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit "ログイン", class:"form-control" %></td>
            </tr>
          </table>
        <% end %>
      </div>
      <div>
        <label>会員登録がお済みでない方</label>
        <p><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。</p>
      </div>
    </div>
  </div>
</div>