<div class="container-fluid">
  <div class="c">
    <div class="row">
      <div class="col-lg-8 mx-auto index-title-col">
        <h1 class="index-title-h1"><%= @title %></h1><label>(全<%= Item.count %>件)</label>
      </div>
    </div>
    <div class="row">
      <div class="d-flex flex-wrap justify-content-center col-lg-8 mx-auto">
        <% @items.each do |item| %>
          <div class="card item-card">
            <%= attachment_image_tag item, :image, class:"card-img-top card-main-visual" %>
            <div class="card-body">
              <div class="card-title"><%= item.name %></div>
              <div class="card-text"><%= "#{number_to_currency((item.price*1.08).floor, format: "%u%n", unit: '¥')}" %></div>
              <%= link_to "", item_path(item.id), class:"stretched-link" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div>
      <%= paginate @items %>
    </div>
  </div>
</div>