<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= attachment_image_tag @item, :image %>
    </div>
    <div class="col-lg-6">
      <h2><%= @item.name %></h2>
      <p><%= @item.introduction %></p>
      <label><%= "#{number_to_currency(@item.price*1.08, format: "%u%n", unit: "¥")}" %>()</label>
      <div>
        <%= form_with model: CartItem.new, url: '/cart_items', local:true do |f| %>
          <%= f.select :amount, [[1,1],[2,2],[3,3],[4,4],[5,5]] %>
          <%= f.submit 'カートに入れる' %>
        <% end %>
      </div>
    </div>
  </div>
</div>